@import './GlobalTemplate.scss';

.maim_page_wrap {

}

.top_inputs_wrap {
display: flex;
justify-content: center;
gap: 20px;
}

.custom_input {
    @extend %input;
}

.display_program_pipe_cutting_wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.display_program_pipe_cutting_block {
    display: flex;
    justify-content: center;
    background: rgb(223, 223, 223);
    margin: 2px 0px;
    p {
        margin: 2px 10px;
    }
}

.combination {
    background-color: rgb(151, 151, 255);
}